
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #050d21;
    height: 100vh;
    color:#050d21;
}
@media (max-width: 768px) {
  .content {
    font-size: 2vh;
    width: 100%;
    height: 100%;
  }
}
.calendarbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8d648;
    box-shadow: 0 0 10px hsla(60, 86%, 81%, 0.9);
    width: 60vh;
    border-radius: 1vh;  
    max-height: 100%;  
}
@media (max-width: 768px) {
  .calendarbox {
    width: 100%;
    max-height: 70vh;
  }
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form input {
    margin: 0 auto;
  }
  
  form button {
    margin: 0 auto;
  }

  table {
    margin-top: 5vh;
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    border: 1px solid black;
    margin-bottom: 2vh;
  }
  
  th, td {
    text-align: center;
    padding: 3px;
  }
  .back{
    font-size: 12px;
    padding: 8px;
    margin-bottom: 2vh;
    padding: 0 14px;
    min-width: 30vh;
    min-height: 5vh;
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 4vh;
    justify-content: center;
    line-height: 20px;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: 1;
    margin-right: 1vh;
  }

  .back:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .back{
      padding: 0 4vh;
    }
  }

.pay-day-input{
  margin-bottom: 1vh;
}