
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the body to 100% of the viewport height */
    background-color: #050d21;
  }
  
  .until {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5em;
    /* 1em = one times the computed font size of the container. */
    padding: 3em;
    margin: 2em;
    max-width: 50vh;
    min-width: 40vh;
    color: #050d21;
    border-radius: 5px;
    background-color: #f8d648;
    box-shadow: 0 0 10px hsla(60, 86%, 81%, 0.9);
  }
  
  .until_numeric {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .until_date {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 2; 
    font-size: 27px;
  }
  
  .user_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    grid-column: 1 / span 2; 
  }
  
  .input_date{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 2; 
    }

  input[type="text"] {
    background-color: #ffdeda;
    border: 2px solid #111;
    
  }
  
  ::placeholder{
    text-align: center;
  }

  .button{
    align-items: center;
    margin-bottom: 10px; 
    margin-top: 0.5vh;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: 1;
  }
  
  .button:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button{
      margin-top: 2vh;
    }
  }
  
  .see_more{
    padding: 0 14px;
    min-width: 30vh;
    min-height: 5vh;
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 4vh;
    justify-content: center;
    line-height: 20px;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: 1;
    margin-right: 1vh;
  }
  
  .see_more:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .see_more{
      padding: 0 40px;
    }
  }
  
  .pay_day_input{
    margin-bottom: 0.5vh;
  }